/* Shared Styles */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Cesko Digital", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #ffffff;
  color: #21262c;
}

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/regular.woff2) format("woff2"),
    url(https://data.cesko.digital/font/regular.woff) format("woff"),
    url(https://data.cesko.digital/font/regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/medium.woff2) format("woff2"),
    url(https://data.cesko.digital/font/medium.woff) format("woff"),
    url(https://data.cesko.digital/font/medium.eot) format("eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/semibold.woff2) format("woff2"),
    url(https://data.cesko.digital/font/semibold.woff) format("woff"),
    url(https://data.cesko.digital/font/semibold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/bold.woff2) format("woff2"),
    url(https://data.cesko.digital/font/bold.woff) format("woff"),
    url(https://data.cesko.digital/font/bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
}

/* Layout */

.main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1200px;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1200px;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
}

.navigation-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  /*
  ${media.tablet} {
    flex-direction: column;
  }
  */
}

.logo {
  display: inline-block;
  width: 183px;
  height: 36px;
  background: url("/logo.svg");
  background-size: contain;
  padding: 0 !important;
  color: #1a2c29;
  margin: 32px 20px 28px 0;
  /*
  &__inner {
    display: none;
  }
  ${media.tablet} {
    margin-left: 20px;
  }
  */
}

.toolbar-links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: normal;
  justify-content: flex-end;
  /*
  ${media.tablet} {
    justify-content: flex-start;
    border-bottom: #1d1f21 solid 1px;
  }
  */
}

.toolbar-link {
  vertical-align: middle;
  color: #080831;
  margin: 20px;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 500;
  line-height: 1.3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: min-content;
  /*
  ${media.tablet} {
    margin: 0 25px 10px 0;
  }
  */
}

.toolbar-link:hover {
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.toolbar-link:last-child {
  margin-right: 0;
}

/* Footer */

.footer {
  margin-top: 20px;
  background: #080831;
  padding: 30px;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-item {
  padding: 20px;
}

.footer-link {
  vertical-align: middle;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  width: min-content;
}

.footer-link:hover {
  transition: all 200ms ease-in-out;
  opacity: 0.6;
}

.cookie-note {
  color: white;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  text-align: center;
}

/* Post Listing */

.post-listing-row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: normal;
  justify-content: flex-start;
  width: 100%;
}

.main-post {
  width: 66%;
  padding: 10px;
  /*
  @media (max-width: 768px) {
    width: 100%;
  }
  */
}

.post-listing-post {
  width: 33%;
  padding: 10px;
  /*
  @media (max-width: 768px) {
    width: 50%;
  }
  @media (max-width: 576px) {
    width: 100%;
  }
  */
}

/* Press Releases */

.press-release-box {
  width: 34%;
  padding: 10px;
  /*
  ${media.tablet} {
    width: 100%;
  }
  */
}

.press-release-listing {
  background: #ffffff;
  border: 2px solid rgb(237, 237, 239);
  border-radius: 14px;
  padding: 20px 20px 0 20px;
  max-height: 800px;
  height: 100%;
}

.press-release-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-bottom: 15px;
}

.press-release-icon {
  margin-right: 10px;
  margin-left: 4px;
}

.press-release-title {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  color: #080831;
  margin: 0;
}

.press-release-divider {
  height: 1px;
  width: 100%;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.press-release-link {
  display: block;
  padding: 1rem 20px;
  text-decoration: none;
  color: #2b2b2b;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  position: relative;
}

.press-release-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 100%;
  box-shadow: 0 4px 5px -5px #ffffff;
  transition: 0.25s box-shadow ease-out;
}

/* Post Card */

.post-card-link {
  text-decoration: none;
  color: black;
}

.post-card {
  background: #ffffff;
  border: 2px solid rgb(237, 237, 239);
  border-radius: 14px;
  height: 100%;
  transition: all 250ms ease-in-out;
}

.post-card:hover {
  box-shadow: 0px 8px 18px rgba(10, 10, 10, 0.12);
}

.post-card-meta {
  padding: 20px;
}

.post-card-author {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  margin-bottom: 10px;
  margin-top: 5px;
  color: #000000;
  width: auto;
  opacity: 0.5;
}

.post-card h2 {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  margin: 0;
}

.post-card-description {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  -webkit-line-clamp: 2;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* or 24px */
  margin-top: 10px;
  color: #080831;
}

/* Posts */

.post-container {
  background: #ffffff;
  border: 2px solid rgb(237, 237, 239);
  border-radius: 14px;
}

.post-wrapper {
  padding: 10px 40px 40px;
  /*
  @media (max-width: 768px) {
    padding: 10px 20px 20px;
  }
  */
}

.post-metadata {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  margin-bottom: 10px;
  margin-top: 5px;
  color: #000000;
  width: auto;
  opacity: 0.5;
}

.post-author {
  text-decoration: none;
  color: #000000;
}

.post-title {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 36px */
  color: #000000;
  margin: 0;
}

.post-perex {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 150%;
  /* or 30px */
  color: #080831;
  opacity: 1;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  /* or 24px */
  margin-top: 10px;
}

.post-button {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 14px */
  margin-top: 50px;
  text-decoration: none;
  width: 260px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #0000ff;
  color: #ffffff;
  padding: 12px 16px 12px 16px;
  transition: all 200ms ease-in-out;
}

.post-button:hover {
  background-color: #080831;
}

.post-button img {
  margin-right: 10px;
}

/* Post Content */

.post-content {
  font-family: Cesko Digital, sans-serif;
  font-style: normal;
  /* or 26px */
  color: #000000;
}

.post-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #080831;
}

.post-content p,
li {
  line-height: 30px;
}

.post-content ul,
ol {
  padding-left: 1.2em;
  font-size: 20px;
}

.post-content img {
  border-radius: 10px;
  max-width: 100%;
}

.post-content .picture-note {
  margin-top: -15px;
  margin-left: 5px;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.5;
}

.post-content a {
  border-bottom: 2px solid rgba(0, 0, 255, 0.25);
  color: #0000ff;
  text-decoration: none;
}

.post-content a:hover {
  transition: all 200ms ease-in-out;
  border-bottom: none;
}

.post-content h2 {
  margin-top: 50px;
}

.post-content .volunteers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post-content .volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 170px;
  text-align: center;
}

.post-content .volunteer img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
}

.post-content .volunteer .name {
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-content .volunteer .note {
  font-size: 14px;
  opacity: 0.5;
}
