* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Work Sans,sans-serif;
    background: #f5e2cc;
}


h1 {
    font-size: 31px;
    line-height: 39px;
    /* or 126% */

    letter-spacing: -0.65px;
}