* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Work Sans,sans-serif;
    background: #fcf2e6;
}
a:visited {
    color: black;
}