* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Work Sans,sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #e5e5ff;
  color: #21262c;
}



