@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Commonly used Tailwind shorthands.
 *
 * NOTE: Avoid premature abstraction here:
 * https://tailwindcss.com/docs/reusing-styles
 */

@layer components {
  /*
   * Typography
   * Inspired by https://developer.apple.com/design/human-interface-guidelines/typography
   */
  .typo-title {
    @apply text-3xl font-bold leading-normal;
  }
  .typo-title2 {
    @apply text-2xl font-bold leading-normal;
  }
  .typo-title3 {
    @apply text-xl font-bold leading-normal;
  }
  .typo-link {
    @apply cursor-pointer underline underline-offset-2;
  }
}

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400&display=swap");

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/regular.woff2) format("woff2"),
    url(https://data.cesko.digital/font/regular.woff) format("woff"),
    url(https://data.cesko.digital/font/regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/semibold.woff2) format("woff2"),
    url(https://data.cesko.digital/font/semibold.woff) format("woff"),
    url(https://data.cesko.digital/font/semibold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
}

/* Global styles */

body {
  font-family: "Cesko Digital", sans-serif;
  background: #ffffff;
  color: #21262c;
}

/* Posts */

.post-button {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 14px */
  margin-top: 50px;
  text-decoration: none;
  width: 260px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #0000ff;
  color: #ffffff;
  padding: 12px 16px 12px 16px;
  transition: all 200ms ease-in-out;
}

.post-button:hover {
  background-color: #080831;
}

.post-button img {
  margin-right: 10px;
}

/* Post Content */

.post-content {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  /* or 26px */
  color: #000000;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  font-family: "Cesko Digital", sans-serif;
}

.post-content h1 {
  margin-top: 1.5em;
}

.post-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #080831;
}

.post-content p,
li {
  line-height: 30px;
}

.post-content ul,
ol {
  padding-left: 1.2em;
  font-size: 20px;
}

.post-content img {
  border-radius: 10px;
  max-width: 100%;
}

.post-content .picture-note {
  margin-top: -15px;
  margin-left: 5px;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.5;
}

.post-content a {
  border-bottom: 2px solid rgba(0, 0, 255, 0.25);
  color: #0000ff;
  text-decoration: none;
}

.post-content a:hover {
  transition: all 200ms ease-in-out;
  border-bottom: none;
}

.post-content h2 {
  margin-top: 50px;
}

.post-content .volunteers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post-content .volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 170px;
  text-align: center;
}

.post-content .volunteer img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
}

.post-content .volunteer .name {
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-content .volunteer .note {
  font-size: 14px;
  opacity: 0.5;
}
