@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Commonly used Tailwind shorthands.
 *
 * NOTE: Avoid premature abstraction here:
 * https://tailwindcss.com/docs/reusing-styles
 */

@layer components {
  /*
   * Typography
   * Inspired by https://developer.apple.com/design/human-interface-guidelines/typography
   */
  .typo-title {
    @apply text-3xl font-bold leading-normal;
  }
  .typo-title2 {
    @apply text-2xl font-bold leading-normal;
  }
  .typo-title3 {
    @apply text-xl font-bold leading-normal;
  }
  .typo-link {
    @apply cursor-pointer underline underline-offset-2;
  }
}

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400&display=swap");

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/regular.woff2) format("woff2"),
    url(https://data.cesko.digital/font/regular.woff) format("woff"),
    url(https://data.cesko.digital/font/regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cesko Digital";
  src: url(https://data.cesko.digital/font/semibold.woff2) format("woff2"),
    url(https://data.cesko.digital/font/semibold.woff) format("woff"),
    url(https://data.cesko.digital/font/semibold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
}

/* Global styles */

body {
  font-family: "Cesko Digital", sans-serif;
  background: #ffffff;
  color: #21262c;
}

/*
 * Content Styling
 */

.post-content {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
}

/* Headings */

.post-content h1,
.post-content h2,
.post-content h3 {
  font-family: "Cesko Digital", sans-serif;
  font-weight: bold;
  margin-top: 2ex;
  margin-bottom: 1ex;
  line-height: 140%;
}

.post-content h1 {
  font-size: 2rem;
}

.post-content h2 {
  font-size: 1.5rem;
}

.post-content h3 {
  font-size: 1.2rem;
}

/* Block Content */

.post-content ul,
.post-content ol,
.post-content p {
  margin-top: 2ex;
  margin-bottom: 2ex;
}

.post-content ul {
  list-style: disc outside;
  margin-left: 1em;
}

.post-content iframe {
  width: 100%;
}

/* Inline Content */

.post-content img {
  border-radius: 10px;
  max-width: 100%;
}

.post-content a {
  border-bottom: 2px solid rgba(0, 0, 255, 0.25);
  color: #0000ff;
  text-decoration: none;
}

/* Volunteer Banners */

.post-content .volunteers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.post-content .volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 170px;
  text-align: center;
}

.post-content .volunteer img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
}

.post-content .volunteer .name {
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-content .volunteer .note {
  font-size: 14px;
  opacity: 0.5;
}
