.post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content {
    font-family: Work Sans, sans-serif;
    font-style: normal;

    /* or 26px */


    color: #000000;

}
.content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */


    color: #000000;

}

.content img {
    border-radius: 10px;
    width: 100%;
}

.content .picture-note {
    color: gray;
}

